*{
    margin: 0px;
    padding:0px;
}
header,footer{
    width: 1400px;
    height:100px;
    padding-top: 25px;
    color: white;
    background: #c5280d;
}
header h3{
    padding: 20px;
}
section{
    width: 100%;
}
section aside{
    width: 10%;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: hsla(123, 91%, 43%, 0.769);
    color: white;
}
section aside h3{
    padding: 20px 0px;
}
aside ul li{
list-style: none;
margin-top: 13px;
border-bottom: 2px solid #fff;
}
section main{
    width:85%;
    float: left;
    text-align: justify;
    padding:30px 20px;
}
section main h3{
    color: blue;

}
section main p{
    padding-top: 10px;
    padding-bottom: 10px;
}